{% load static %}
<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>ManPower engine</title>
  </head>
  <body>
    <div class="container ">
        <div class="background-blue-mobile">
            <div class="row" style="vertical-align: middle">
                <div class="col-sm-6 d-inline">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="{% static "media/gerb.svg" %}" vspace="6px" hspace="6px" width="32px" height="32px">
                        </div>
                        <div class="col-sm-6">
                            <p class="gov-text-white-bold">ManPower</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-md-2">
                    <a href="{% url "login" %}" class="gov-text-white-bold"> Назад </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="empty-row-small"></div>
        <div class="row">
            <div class="col-md-12">
                <label class="gov-text" for="search">Выберите профессию</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <select id="search" class="form-control">
                      <option>разработчики</option>
                      <option>дизайнеры</option>
                      <option>менеджеры</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block">Поиск</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>